/*Index File Styles*/

.container {
  height: 100%;
  padding: 2em 4em;
}

/*Header Styles*/

.header_container {
  display: inline-block;
  border: 1px solid;
  padding: 0.5em;
  width: 45%;
}

.primary_header_txt {
  font-size: 3rem;
  font-weight: 700;
}

.secondary_header_txt {
  padding-top: 1.1rem;
  font-size: 1.75rem;
}
